

<ion-content>
  <div class="caminos-mobile-container">
    <ng-container *ngIf="!activePath">
      <div class="caminos-list-card">
        <div class="caminos-list-header">
          <span class="caminos-list-title">Mis Caminos</span>
          <ion-button fill="clear" size="small" (click)="addingPath = true">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div *ngFor="let path of userPaths" class="camino-item">
          <div class="camino-info">
            <div class="camino-nombre">{{ path.name }}</div>
            <div class="camino-origen-destino">{{ path.origin }} <span class="flecha">→</span> {{ path.destination }}</div>
          </div>
          <ion-button fill="outline" size="small" (click)="confirmStartPath(path)">Iniciar</ion-button>
        </div>
      </div>

      <div *ngIf="addingPath" class="add-path-form-card">
        <div class="add-path-form-title">Nuevo Camino</div>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="newPath.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input [(ngModel)]="newPath.origin"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input [(ngModel)]="newPath.destination"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="saveNewPath()">Guardar</ion-button>
        <ion-button expand="block" color="medium" (click)="addingPath = false">Cancelar</ion-button>
      </div>
    </ng-container>

    <ng-container *ngIf="activePath">
      <div class="active-path-map">
        <div class="active-path-title">{{ activePath.name }}</div>
        <div id="mobileGmap" class="map-container"></div>
        <ion-button expand="block" color="danger" (click)="endActivePath()">Finalizar viaje</ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>
