

<ion-content>
  <div class="caminos-mobile-container">
    <ng-container *ngIf="!activePath">
      <div class="caminos-list-card">
        <div class="caminos-list-header">
          <span class="caminos-list-title">Mis Caminos</span>
          <ion-button fill="clear" size="small" (click)="addingPath = true">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div *ngFor="let path of userPaths" class="camino-item">
          <div class="camino-info">
            <div class="camino-nombre">{{ path.name }}</div>
            <div class="camino-origen-destino">{{ path.origin }} <span class="flecha">→</span> {{ path.destination }}</div>
          </div>
          <ion-button fill="outline" size="small" (click)="confirmStartPath(path)">Iniciar</ion-button>
        </div>
      </div>

      <div *ngIf="addingPath" class="add-path-form-card">
        <app-path-form
          [path]="newPath"
          [originSuggestions]="originSuggestions"
          [destinationSuggestions]="destinationSuggestions"
          (save)="saveNewPath()"
          (cancel)="addingPath = false"
          (searchOrigin)="onSearchOrigin($event)"
          (searchDestination)="onSearchDestination($event)"
          (selectOrigin)="onSelectOrigin($event)"
          (selectDestination)="onSelectDestination($event)">
        </app-path-form>
      </div>
    </ng-container>

    <ng-container *ngIf="activePath">
      <div class="active-path-map">
        <div class="active-path-title">{{ activePath.name }}</div>
        <div id="mobileGmap" class="map-container"></div>
        <ion-button expand="block" color="danger" (click)="endActivePath()">Finalizar viaje</ion-button>
        <div style="">
          <ion-button fill="outline" size="small">Iniciar incidentes</ion-button>
        <ion-button fill="outline" size="small">Cerrar incidentes</ion-button>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
