:host {
  color: inherit;
}

::ng-deep ion-input input,
::ng-deep ion-input .native-input,
::ng-deep ion-input .input-wrapper {
  background: transparent !important;
  color: inherit !important;
  font: inherit !important;
  border: none !important;
  outline: none !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: auto !important;
  pointer-events: auto !important;
  -webkit-user-select: text !important;
  user-select: text !important;
}

::ng-deep ion-input::part(native),
::ng-deep ion-input::part(input) {
  background: transparent !important;
}


.input-wrapper ion-input {
  --padding-start: 56px;  
  --padding-end: 18px;
  --padding-top: 14px;
  --padding-bottom: 14px;
  pointer-events: auto;
  touch-action: manipulation;
}

::ng-deep ion-button.btn-primary {
  --background: transparent;
  --box-shadow: none;
  padding: 0 16px;
  position: relative;
}

::ng-deep ion-button[expand="block"].btn-primary {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

::ng-deep ion-button.btn-primary .btn-glow {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

::ng-deep .banner-button {
  --padding-start: 0;
  --padding-end: 0;
}
