<div class="modal-container">
  <div class="modal-header">
    <h2>Nuevo Monitoreador</h2>
  </div>

  <form [formGroup]="monitorForm" (ngSubmit)="save()" class="add-monitor-form">
    <div class="form-content">
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input 
          formControlName="name" 
          type="text" 
          required>
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="nameError">
        {{ nameError }}
      </div>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          formControlName="email" 
          type="email" 
          required>
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="emailError">
        {{ emailError }}
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          formControlName="password" 
          type="password" 
          required>
        </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="passwordError">
        {{ passwordError }}
      </div>
    </div>

    <div class="form-actions">
      <ion-button 
        expand="block" 
        type="submit" 
        color="primary"
        [disabled]="!monitorForm.valid">
        Guardar
      </ion-button>
      <ion-button 
        expand="block" 
        color="medium" 
        (click)="cancel()">
        Cancelar
      </ion-button>
    </div>
  </form>
</div>
