<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WalkSafe</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="gotocontacs()" fill="clear">Contactos</ion-button>
      <ion-button (click)="gotohistory()" fill="clear">Historial</ion-button>
      <ion-button (click)="gotoroutes()" fill="clear">Rutas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>