<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WalkSafe</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment>
      <ion-button (click)="gotocontacs()" expand="block">Contactos</ion-button>
      <ion-button (click)="gotohistory()" expand="block">Historial</ion-button>
      <ion-button (click)="gotoroutes()" expand="block">Rutas</ion-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>