<ion-split-pane contentId="main-content">
  <ion-menu [class.collapsed]="collapsed" contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header class="menu-header">
          <div class="menu-title">Menú</div>
          <!-- collapse/expand button -->
          <div class="menu-toggle">
            <ion-button fill="clear" size="small" (click)="toggleMenu()" aria-label="Toggle menu">
              <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" (click)="checkUpdate()" aria-label="Check for updates" title="Verificar actualizaciones">
              <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
          </div>
        </ion-list-header>
        @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        }
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
